[submodule "miniprogram/packageSkylineExamples"]
	path = miniprogram/packageSkylineExamples
	url = git@github.com:wechat-miniprogram/awesome-skyline.git
[submodule "convert"]
	path = convert
	url = git@github.com:wyyxdgm/convert.git
